
//@theme "/usr/share/rofi/themes/tokyonight.rasi"

//@theme "/usr/share/rofi/themes/tokyonight.rasi"

//@theme "/home/keith/.config/rofi/themes/tokyonight.rasi"

@theme "/home/keith/.config/rofi/themes/tokyonight.rasi"
